# This ignoring fils

# data file
evaluation_tool/stt_sender/data/*

# wav
.wav

# DS_store
.DS_Store

# checkpoints
.ipynb_checkpoints/

# spyder project files
.spyproject/

# compiled cache files
__pycache__/

# log folder
log/

# output folder
loaded_data/

# Visual Studio Code database
/.vscode

ipadic/
.idea

# except for .gitkeep
!.gitkeep
